 @keyframes float {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(-20px);
   }

   100% {
     transform: translateY(0px);
   }
 }

 @keyframes tilt-n-move-shaking {
   0% {
     transform: translate(0, 0) rotate(0deg);
   }

   25% {
     transform: translate(5px, 5px) rotate(1deg);
   }

   50% {
     transform: translate(0, 0) rotate(0eg);
   }

   75% {
     transform: translate(-5px, 5px) rotate(-1deg);
   }

   100% {
     transform: translate(0, 0) rotate(0deg);
   }
 }

 .entrance {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
 }

 .logo {
   animation: float 8s ease-in-out infinite;
 }

 .leaf1 {
   animation: tilt-n-move-shaking 2s ease-in-out infinite;
 }


 .leaf2 {
   animation: tilt-n-move-shaking 2s 1s ease-in-out infinite;
 }



 .loading {
   height: 100%;
   width: 100%;
   background-color: #00FFE0;
   z-index: 1;
   box-shadow: inset 10px 10px 200px 100px #00a4a4;

 }